@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

@layer components {
  .btn {
    @apply w-full px-4 py-2 text-white bg-green-500 rounded-lg hover:bg-green-700;
  }
}

.hbg {
  background-image: url(/images/TTimage.png);
}
@media (max-width: 1024px) {
  .hbg {
    background-image: url(/images/image1.jpg);
  }
}

@media (max-width: 640px) {
  .hbg {
    background-image: url(/images/image1.jpg);
  }
}
